SoutwestWater/XMLFile1.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.rapidxtra.co.uk/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.rapidxtra.co.uk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.rapidxtra.co.uk/">
      <s:element name="MWDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name ="MWDocumentHeader" type="tns:DocumentHeaderDet"/>
            <s:element minOccurs="1" maxOccurs="1" name ="MWMessages" type="tns:MWMessagesDet"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DocumentHeaderDet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Organisation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderVersion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TSeconds" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name ="MWMessagesDet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="unbounded" name="MWMessage" type="tns:MWMessageDet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name ="MWMessageDet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Transaction" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RelatedMID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MWDataItems" type="tns:MWDataItemsDet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name ="MWDataItemsDet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="unbounded" name="MWDataItem" type="tns:MWDataItemDet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name ="MWDataItemDet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MWDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DocumentResponseCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DocumentResponseDetail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MWDocumentHeader" type="tns:DocumentHeaderDet" />
            <s:element minOccurs="1" maxOccurs="1" name="MWMessageResponses" type="tns:MWMessageResponsesDet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DocumentHeaderDet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Organisation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderVersion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TSeconds" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MWMessageResponsesDet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MWMessageResponse" type="tns:MWMessageResponseDet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MWMessageResponseDet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageResponseDetail" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MWDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:MWDocument" />
  </wsdl:message>
  <wsdl:message name="MWDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:MWDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="MWDocumentServiceSoap">
    <wsdl:operation name="MWDocument">
      <wsdl:input message="tns:MWDocumentSoapIn" />
      <wsdl:output message="tns:MWDocumentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MWDocumentServiceSoap" type="tns:MWDocumentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MWDocument">
      <soap:operation soapAction="http://www.rapidxtra.co.uk/MWDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MWDocumentService">
    <wsdl:port name="MWDocumentServiceSoap" binding="tns:MWDocumentServiceSoap">
      <soap:address location="http://xxxx/WService=xxxx/webservice.p" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>